<div id="rules">
    <h2 style="color:#5e81cf;font-size:2.8rem;text-align:center;font-family:cursive;margin-bottom: 50px;">Instructions
    </h2>
    <p>1. The OIR Test comprises of two booklets, one verbal and another non-verbal each consisting of approximately 40
        questions for
        which the time allotted is 22 minutes and 17 minutes respectively.</p>
    <p>2. The questions asked are comparatively easy when you compare them against other competitive exams such as
        Banking and SSC, but the major factor here is the time required.</p>
    <p>3. There is no negative marking for both the tests that are conducted in this phase. In addition to this, taking a
        watch is not permitted inside the testing area.
    </p>
</div>