<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Free SSB Guide</title>
    <link rel="stylesheet" href="../../css/ssb-admin.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('./admin-navbar'); -%>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('./admin-sidebar'); -%>
                <div class="container-fluid">
                    <!-- <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">PPDT Dashboard</h3>

                    </div> -->

                    <!-- stories cards -->
                    <div class="main">
                        <ul class="list">
                            <li class="item">
                                <div class="card">
                                    <div class="image">
                                        <img src="../../images/ssb-logo.jpg" alt="">
                                    </div>
                                    <div class="contentt">
                                        <h3 class="title">
                                                Story
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil dolore voluptatum at dignissimos nemo officiis aperiam, ad soluta voluptate expedita, facere velit sequi quia. Neque nisi quibusdam repellat numquam sed beatae voluptatum atque temporibus est aut quia pariatur esse perferendis impedit molestiae, ea fuga ab maxime, dolore harum nemo eaque necessitatibus, quis placeat. Porro itaque laudantium perferendis, praesentium deleniti, in optio, eius sit velit aliquid non corporis pariatur asperiores?</p>
                                    </div>
                                    <div class="actions">
                                        <button>Give Marks</button>
                                        <button>Delete</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                       
                  
                   
                </div>
            </div>
        
            <div id="userEmail" style="display:none;"><%= user.email %></div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © FSB 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="js/landing.js"></script>
</body>

</html>