<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PPDTTEST|HOME - FSB</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/ppdthome.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('partials/navbar'); -%>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('partials/sidebar'); -%>
               <!-- Main Section Starts -->
               <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h2 class="text-dark mb-0">PPDT TEST</h2><a
                        class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i
                            class="fas fa-download fa-sm text-white-50"></i>&nbsp;Read Intructions</a>
                    
                </div>
                <!-- About PPDT TEST SECTION -->
                <div class="shadow my-5" style="padding:20px;">
                    <h2 class="mb-3 text-danger" style="text-decoration: underline;">WHAT IS PPDT TEST</h2>
                    <p class="short-info text-primary" style="font-size:1.3rem;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem modi, eos quasi ipsa voluptas illum molestiae necessitatibus impedit incidunt voluptatibus?</p>
                    <button class="btn btn-primary" style="text-decoration:none;outline:none;display:block;margin-left:auto;">Read More</button>
                    <p class="detail-info text-success" style="font-size:1.3rem;display:none;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minus, quam sequi officia eveniet incidunt sunt aliquid ipsa ut assumenda itaque iure doloribus non similique, quidem ipsum. Nihil asperiores, placeat soluta numquam dicta nulla nobis iure, porro expedita dolorum velit.</p>
                </div>
                <div class="test-section shadow my-5" style="padding:20px;">
                    <h2 class="text-success mb-3 text-center" style="font-size:2.8rem;">"Practice Makes A Man Perfect"</h2>
                    <a href="/ppdt/test">
                     <button class="btn btn-floating btn-lg btn-danger px-5 py-2 d-flex text-center ml-auto mr-auto my-5" >Practice Now</button>
                    </a>
                </div>
               
               </div>

               </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script>
        const username = document.getElementById("username").innerHTML;
        console.log(username.split(" ")[0]);
        const firstName = document.getElementById("first_name");
        const lastName = document.getElementById("last_name");
        firstName.value = username.split(" ")[0];
        lastName.value = username.split(" ")[1];
    

    </script>
</body>

</html>