<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- First Option must be correct while all other three options must be wrong -->
    <form action="/savequestion" method="POST">
      <input type="text" value="" name="question" placeholder="enter Your Questions">
      <input type="text" value="" name="firstOption" placeholder="Enter First Option(Correct Option)">
      <input type="text" value="" name="secondOption" placeholder="Enter Second Option">
      <input type="text" value="" name="thirdOption" placeholder="Enter Third Option">
      <input type="text" value="" name="fourthOption" placeholder="Enter Four Option">
      <input type="text" value="" name="correctAnswer" placeholder="Enter Correct Answer">
      <button type="submit">Submit</button>
    </form>
</body>
</html>