<%- include('partials/header'); -%>
<!-- Main Content -->
<img class="wave" src="images/wave.png">
  <div id="container">
    <div class="img">
      <img src="images/bg.svg">
    </div>
    <div class="login-content">
        <img src="images/avatar.svg">
        <h2 class="title">Welcome Back</h2>
        <p style="margin-bottom: 60px;color: #52de97;">Glad to see you again</p>

        <a href="/auth/google"><button class="btn">REGISTER WITH GOOGLE<i class="fa fa-google-plus" style="margin-left: 15px;"></i></button></a>
        <a style="text-align:center;" href="login">Already A User? Login here</a>
    </div>

  </div>










<!-- Footer Section -->
<%- include('partials/footer'); -%>